body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  background-image: url("http://i.imgur.com/QIsyoBn.jpg");
  color: #FFF;
  background-attachment: fixed;
  background-position: center; }

#navigation {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 61%, rgba(0, 0, 0, 0.5) 70%, transparent 100%);
  width: 100%;
  height: 70px;
  position: fixed; }
  #navigation ul {
    list-style-type: none;
    float: right;
    margin: 15px 80px 0 0; }
    #navigation ul li {
      display: inline;
      padding: 5px; }
    #navigation ul a {
      text-decoration: none;
      color: #FFF; }
  #navigation #logo {
    float: left;
    margin: 10px 0 0 40px; }
  #navigation #planet {
    height: 40px;
    width: auto; }

#hero {
  background-image: url("http://i.imgur.com/Sjzqdl1.jpg");
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  #hero .name {
    font-size: 150px;
    color: #FFF; }

#columns {
  height: auto;
  background-color: #d0bcd6;
  display: flex;
  justify-content: center; }
  #columns .section {
    background-color: rgba(56, 59, 68, 0.2);
    color: #FFF;
    padding: 10px;
    width: 300px;
    height: auto;
    margin: 50px 20px; }
  #columns h1, #columns p {
    display: inline; }
  #columns a {
    display: flex;
    justify-content: center; }
  #columns #nasa {
    margin-top: 20px;
    height: 100px;
    width: auto; }

#javascript {
  height: auto;
  background-color: rgba(208, 188, 214, 0.2);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; }
  #javascript #section_intro {
    margin-top: 70px;
    border-bottom: solid 1px #9397B2; }
  #javascript #content {
    width: 800px;
    margin: 50px 0px 10px 0px;
    background-color: rgba(56, 59, 68, 0.2);
    padding: 20px;
    color: #FFF; }
    #javascript #content ul {
      list-style-type: none;
      margin: 0;
      margin-top: 15px; }
      #javascript #content ul li {
        display: -webkit-flex;
        display: flex;
        align-items: center;
        padding: 10px; }
      #javascript #content ul a {
        text-decoration: none;
        width: 300px;
        padding: 25px;
        color: #FFF; }
  #javascript h1 {
    position: relative;
    margin: 0;
    padding: 0; }
  #javascript #button_section {
    margin: 10px 0px; }
  #javascript #more_videos {
    height: 80px;
    width: 120px;
    background: rgba(0, 7, 7, 0.2);
    border: solid 1px #9397B2;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    font-size: 20px; }

.vidId {
  visibility: none; }

#divider {
  border-bottom: solid 1px #9397B2;
  margin-top: 25px;
  width: 800px; }

#personal {
  height: 500px;
  padding: 50px 0;
  background-color: rgba(208, 188, 214, 0.2);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; }

#footer {
  height: 50px;
  display: flex;
  justify-content: center; }
  #footer #top {
    width: 900px;
    border-top: solid 1px #9397B2; }
  #footer ul {
    list-style-type: none;
    margin: 0;
    margin-top: 15px;
    display: flex;
    justify-content: center; }
    #footer ul li {
      display: inline;
      padding: 5px; }
    #footer ul a {
      text-decoration: none;
      color: #FFF; }

/*# sourceMappingURL=style.css.map */
