<!DOCTYPE html>
<html>
<head>

	<title>Linda Martinez</title>	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

	<script async type="text/javascript" src="js/script.js"></script>

	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/media.css">
	
</head>
<body onunload="">
	
	<div id="hero">
		<div class="border-rectangle" id="main-border-rec">
			<p id="name">Linda Martinez</p>
			<div id="menu">
				<a class="menu-links" name="columns">about</a>
				<a class="menu-links" name="background">projects</a>
				<a class="menu-links" name="bottom">contact</a>
			</div>
		</div>	
	</div>
	<div id="columns" name="about">
		<div class="title">
			<p>About Me</p>
		</div>
		<div id="about-me">
			<div class="section">
				<p>I am originally from south Texas and hold a bachelors in psychology from the University of Texas at Brownsville. Following my graduation this past June I decided to make the big leap and moved to San Francisco! In December graduated from General Assembly's Web Development Immersive bootcamp where I learned to build a full-stack web applications. The 12 week intensive course helped me become adept at back-end web development as well as front-end web development by teaching the fundamentals of coding. 
				<br>
				<br>
				 In the past, I have worked in administration and helped in various opportunities to help those around the community. I am now a full time web weveloper looking for opportunites to help me become a better developer!
				</p>
			</div>
		
		</div>
	</div>
	<div id="background" >
		<div id="javascript">
			<p class="title">Projects</p>
			
			<div id="projects">
				<div class="project">
					<div class="project-img right" id="tictactoe">
						<a href="https://three-in-a-row.herokuapp.com"><img class="screenshot" src="https://i.imgur.com/DF8NTmJ.png" alt="tictactoe"></a>
					</div>
					<div class="info" id="tictacInfo">
							<h2>Tic Tac Toe</h2>					
							<p>
						 	A fun tic tac toe game!
							<br><br>HTML&nbsp;&nbsp; JavaScript&nbsp;&nbsp; CSS</p>
							<a href="https://github.com/catlag/tictactoe"><img class="github" src="/assets/github_black.svg" alt="github"></a>

					</div>
				</div>

				<div class="project">
					<div class="info right" id="todoinfo">
						<h2>ToDo</h2>
						<p >A neat mobile-first todo app made with Angular!<br><br>HTML&nbsp;&nbsp; CSS&nbsp;&nbsp; Bootstrap&nbsp;&nbsp; Angular&nbsp;&nbsp; JqueryUI&nbsp;&nbsp; JavaScript</p>
						<a href="https://github.com/catlag/todo"><img class="github" src="/assets/github_black.svg" alt="github"></a>
					</div>
					<div class="project-img" id="todo">
						<a href="http://geologist-carl-83438.bitballoon.com/"><img class="screenshot" src="https://i.imgur.com/tv4MLQx.png" alt="todo"></a>
					</div>
				</div>

				<div class="project">
					<div class="project-img right" id="grubber">
						<a href="https://lm-grubber.herokuapp.com/"><img class="screenshot" src="http://i.imgur.com/518wbrX.png?1" alt="grubber"></a>
					</div>
					<div class="info" id="grubberInfo">
						<h2>Grubber</h2>
						<p >A recipe search app that allows users to search for stores and farmer's markets in their area<br><br>HTML&nbsp;&nbsp; CSS&nbsp;&nbsp; PureCSS&nbsp;&nbsp; JavaScript&nbsp;&nbsp; NodeJs&nbsp;&nbsp; Express&nbsp;&nbsp; Yummly Api&nbsp;&nbsp; Google Maps Api&nbsp;&nbsp; MapQuest Api</p>
						<a href="https://github.com/catlag/project_1"><img class="github" src="/assets/github_black.svg" alt="github">
						</a>
						
					</div>
				</div>
			</div>




			<div id="projects">
				<div class="project">
					<div class="info right" id="sketchInfo">
							<h2>SketchPhrase</h2>
							<p >A cross between Pictionary and telephone games<br><br>HTML&nbsp;&nbsp; CSS&nbsp;&nbsp; Bootstrap&nbsp;&nbsp; JavaScript&nbsp;&nbsp; Ruby on Rails&nbsp;&nbsp; Facebook Api&nbsp;&nbsp; PaperJs</p>
							<a href="https://github.com/catlag/SketchPhraseV1"><img class="github" src="/assets/github_black.svg" alt="github"></a>
					</div>
					<div class="project-img" id="sketchphrase">
						<a href="https://sketchphrase.herokuapp.com/"><img class="screenshot" src="https://i.imgur.com/oEcQR13.png" alt="sketchphrase"></a>
					</div>
				</div>

				<div class="project">
					<div class="project-img right" id="astronomy">
						<a href="https://broker-fox-26504.bitballoon.com/"><img class="screenshot" src="https://i.imgur.com/bnFbH1d.jpg" alt="astronomy"></a>
					</div>
					<div class="info" id="astronomyInfo">
							<h2>Astronomy</h2>
							<p >Cute website I made about my favorite hobby<br><br>HTML&nbsp;&nbsp; CSS&nbsp;&nbsp; Javascript&nbsp;&nbsp; YouTube Api</p>
							<a href="https://github.com/catlag/astronomy"><img class="github" src="/assets/github_black.svg" alt="github"></a>
					</div>
				</div>
			</div>
		</div>


		<div id="bottom">
			<div id="footer">
				<div id="contact">
					<div id="linkedin">
						<a class="icons" href="https://www.linkedin.com/in/lindamtz"><img src="/assets/linkedin_2.svg" alt="linkedin"></a>	
					</div>
					<div id="github">
					<a class="icons" href="https://github.com/catlag"><img  src="/assets/github_black.svg" alt="github"></a>
						
					</div>
					<div id="email"> 
					<a class="icons" href="mailto:linda.mtz.job@gmail.com"><img src="/assets/email.svg" alt="email"></a>
						
					</div>
					<div id="phone">
					<a href="tel://1-956-545-5595">956.545.5595</a>
						
					</div>
				</div>
			</div>
		</div>	
	</div>
</body>
</html>
