<!DOCTYPE html>
<html>
<head>

	<title>Linda Martinez</title>	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="js/d3.min.js"></script>
	<script src="js/d3.tip.js"></script>

	<script async type="text/javascript" src="js/script.js"></script>
	<script type="text/javascript" src="js/experience-chart.js"></script>


	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/media.css">
	
</head>
<body onunload="">
	
	<div id="hero">

		<p id="name">Linda Martinez</p>
		<div id="arrow1">
			<img class="arrow"src="/assets/arrow.svg" alt="arrow">
		</div>
		
	</div>
	<div id="columns">
		<div class="title">
			<p>About Me</p>
		</div>
		<div id="aboutMe">
			<div class="section">
				<p>I am originally from south Texas and hold a bachelors in psychology from the University of Texas at Brownsville. Following my graduation this past June I decided to make the big leap and moved to San Francisco! In December graduated from General Assembly's Web Development Immersive bootcamp where I learned to build a full-stack web applications. The 12 week intensive course helped me become adept at back-end web development as well as front-end web development by teaching the fundamentals of coding. 
				<br>
				<br>
				 In the past, I have worked in administration and helped in various opportunities to help those around the community. I am now a full time web weveloper looking for opportunites to help me become a better developer!
				</p>
			</div>
		
		</div>
		<div id="arrow2">
			<img class="arrow"src="/assets/arrow_black.svg" alt="arrow">
		</div>
	</div>
	<div id="background">
		<div id="javascript">
			<p class="title">Projects</p>
			
			<div id="row1">
				<div class="projectImg" id="tictactoe">
					<a href="https://three-in-a-row.herokuapp.com"><img class="screenshot" src="https://i.imgur.com/BQFQOGp.jpg" alt="tictactoe"></a>
					<div class="info" id="tictacInfo">
						<h3>Tic Tac Toe &nbsp;&nbsp;<a href="https://github.com/catlag/tictactoe"><img class="github" src="/assets/github.svg" alt="github"></a></h3>					
						<p>
					 	A fun tic tac toe game!
						<br><br>HTML&nbsp;&nbsp; CSS</p>
					</div>
					<div id="arrow3">
						<img  class="arrow"src="/assets/arrow_black.svg" alt="arrow">
					</div>
				</div>



				<div class="projectImg" id="grubber">
					<a href="https://lm-grubber.herokuapp.com/"><img class="screenshot" src="https://i.imgur.com/9i7udPy.png" alt="grubber"></a>
					<div class="info" id="grubberInfo">
						<h3>Grubber&nbsp;&nbsp;<a href="https://github.com/catlag/project_1"><img class="github" src="/assets/github.svg" alt="github">
						</a></h3>
						<p >A recipe search app that allows users to search for stores and farmer's markets in their area<br><br>HTML&nbsp;&nbsp; CSS&nbsp;&nbsp; PureCSS&nbsp;&nbsp; NodeJs&nbsp;&nbsp; Express&nbsp;&nbsp; Yummly Api&nbsp;&nbsp; Google Maps Api&nbsp;&nbsp; MapQuest Api</p>
						
					</div>
					<div id="arrow4">
							<img  class="arrow"src="/assets/arrow_black.svg" alt="arrow">
					</div>
				</div>
				
			</div>




			<div id="row2">
				<div class="projectImg" id="sketchphrase">
					<a href="https://sketchphrase.herokuapp.com/"><img class="screenshot" src="https://i.imgur.com/Il1Dsa0.png" alt="sketchphrase"></a>
					<div class="info" id="sketchInfo">
						<h3>SketchPhrase &nbsp;&nbsp;<a href="https://github.com/catlag/SketchPhraseV1"><img class="github" src="/assets/github.svg" alt="github"></a></h3>
						<p >A cross between Pictionary and telephone games<br><br>HTML&nbsp;&nbsp; CSS&nbsp;&nbsp; Bootstrap&nbsp;&nbsp; Ruby on Rails&nbsp;&nbsp; Facebook Api&nbsp;&nbsp; PaperJs</p>
						
					</div>
					<div id="arrow5">
						<img  class="arrow"src="/assets/arrow_black.svg" alt="arrow">
					</div>
				</div>

			

				<div class="projectImg" id="adventure">
					<a href="https://adventure-share.herokuapp.com/"><img class="screenshot" src="https://i.imgur.com/Oo6AYQ2.jpg" alt="adventureshare"></a>
					<div class="info" id="adventureInfo">
						<h3>Adventure Share &nbsp;&nbsp;<a href="https://github.com/catlag/adventure_share"><img class="github" src="/assets/github.svg" alt="github"></a></h3>
						<p >Long distance ride share app<br><br>HTML&nbsp;&nbsp; CSS&nbsp;&nbsp; Ruby on Rails&nbsp;&nbsp; Google Maps Api</p>
						
					</div>
				</div>

			</div>
				<div id="arrow6">
					<img class="arrow"src="/assets/arrow_black.svg" alt="arrow">
				</div>
		</div>



		<div id="bottom">
				<div id="myChart">		
						</div>
			<div id="footer">
				<div id="contact">
					<div id="linkedin">
						<a href="https://www.linkedin.com/in/lindamtz"><img src="/assets/linkedin.svg" alt="linkedin"></a>	
					</div>
					<div id="github">
					<a href="https://github.com/catlag"><img src="/assets/github.svg" alt="github"></a>
						
					</div>
					<div id="email"> 
					<a href="mailto:linda.mtz.job@gmail.com"><img src="/assets/email.svg" alt="email"></a>
						
					</div>
					<div id="phone">
					<a href="tel://1-956-545-5595">956.545.5595</a>
						
					</div>
				</div>
			</div>
		</div>	
	</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-63327055-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
