@media only screen and (max-width: 1000px) {
  *,
  body {
    position: relative;
    margin: 0;
    padding: 0; }

  body {
    font-family: 'Roboto', sans-serif; }

  #hero {
    -webkit-display: flex;
    -ms-display: flex;
    -moz-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    -moz-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    background: url("/assets/hex_top.png");
    background-origin: border-box;
    background-size: cover;
    background-position: bottom center; }
    #hero #name {
      font-family: 'Raleway', sans-serif;
      font-size: 400%;
      margin: 0;
      padding-top: 25%; }
    #hero #arrow1 {
      margin-top: 25%; }
      #hero #arrow1 img {
        height: 20%;
        width: auto;
        display: block;
        margin: 0 auto; }

  .title {
    font-size: 250%; }

  #columns {
    -webkit-display: flex;
    -ms-display: flex;
    -moz-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -o-justify-content: center;
    justify-content: center; }
    #columns .title {
      margin-top: 0; }
    #columns #aboutMe {
      -webkit-display: flex;
      -ms-display: flex;
      -moz-display: flex;
      -o-display: flex;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      -moz-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: center;
      -ms-justify-content: center;
      -moz-justify-content: center;
      -o-justify-content: center;
      justify-content: center; }
    #columns .section {
      font-size: .8em;
      margin: 0 auto; }

  #javascript .title {
    margin-top: 3%; }
  #javascript #row1,
  #javascript #row2 {
    -webkit-display: flex;
    -ms-display: flex;
    -moz-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    align-items: center;
    margin: 0 auto; }
  #javascript .project-img {
    -webkit-display: flex;
    -ms-display: flex;
    -moz-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: space-around;
    -ms-align-items: space-around;
    -moz-align-items: space-around;
    -o-align-items: space-around;
    align-items: space-around;
    margin: 0 auto;
    height: auto;
    padding-top: 4%;
    width: 100%; }
  #javascript .screenshot {
    height: auto;
    width: 100%;
    margin: 0 auto; }
  #javascript .info {
    background-color: transparent;
    color: #000;
    font-size: 90%;
    height: auto;
    margin: 0 auto;
    opacity: 1;
    position: relative;
    text-align: center;
    width: 70%; }
    #javascript .info h3 {
      margin: 0; }

  .github {
    height: auto;
    width: 15%; }

  #arrow3,
  #arrow4,
  #arrow5,
  #arrow6,
  #arrow7 {
    display: inline; }

  #arrow6 {
    margin-top: -40%; }

  .arrow {
    height: 20%;
    width: auto;
    display: block;
    margin: -15% auto; }

  .aster-score {
    font-size: 50%; }

  .d3-tip {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: .5em;
    line-height: 1;
    padding: 2px;
    z-index: 99; }

  .d3-tip:after {
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.5);
    content: '\25BC';
    display: inline;
    font-size: 10px;
    line-height: 1;
    position: absolute;
    text-align: center;
    width: 100%; }

  #bottom {
    -webkit-display: flex;
    -ms-display: flex;
    -moz-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    margin-top: 2em; }

  #footer {
    -webkit-display: flex;
    -ms-display: flex;
    -moz-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    height: 20%;
    margin-top: 20px; }
    #footer #contact {
      -webkit-display: flex;
      -ms-display: flex;
      -moz-display: flex;
      -o-display: flex;
      display: flex;
      -webkit-justify-content: space-around;
      -ms-justify-content: space-around;
      -moz-justify-content: space-around;
      -o-justify-content: space-around;
      justify-content: space-around;
      border-top: solid 1px #fff; } }

/*# sourceMappingURL=media.css.map */
