@media only screen and (max-width: 1000px) {

  @mixin vendor-prefix($name, $argument) {
    -webkit-#{$name}: #{$argument};
    -ms-#{$name}: #{$argument};
    -moz-#{$name}: #{$argument};
    -o-#{$name}: #{$argument};
    #{$name}: #{$argument};
  }

  $white: #fff;
  $font-color: #000;
  $pink: #BD84A0;

  *, 
  body {
    position: relative;
    margin: 0;
    padding: 0;
  }
  body {
    @include vendor-prefix(display, flex);
    @include vendor-prefix(flex-direction, column);
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
    color: $pink;
  };
  	
  #hero {
    @include vendor-prefix(display, flex);
    @include vendor-prefix(flex-direction, column);
    @include vendor-prefix(justify-content, space-around);
     background-color: #000000;

    #name {
      font-family: 'Raleway', sans-serif;
      font-size: 400%;
      margin: 0;
  	}

    #arrow1 { 
      margin-top: 25%;

      img {
        height: 20%;
        width: auto;
        display: block;
        margin: 0 auto;
  		}
  	}
  }

  .title {
    font-size: 250%;
  }

  #columns {
    @include vendor-prefix(display, flex);
    @include vendor-prefix(flex-direction, column);
    @include vendor-prefix(justify-content, center);

    .title {
      margin-top: 0;
  	  }

    #aboutMe{
      @include vendor-prefix(display, flex);
      @include vendor-prefix(flex-direction, column);
      @include vendor-prefix(justify-content, center);
  	    
    }

    .section {
      font-size: .8em;
      margin: 0 auto;
    }
  }

  #javascript {

    .project-img {
      @include vendor-prefix(display, flex);
      @include vendor-prefix(flex-direction, column);
      @include vendor-prefix(align-items, space-between);
      margin: 0 auto;
      height: auto;
      width: 100%;   
  	}

    .screenshot {
      height: auto; 
      width: 100%;
      margin: 0 auto;
    }

   	.info {
      display: block;
      font-size: 90%;
      height: auto;
      opacity: 1;
      position: relative;
  	  text-align: center;
      width: 70%;
  	  
      h3 {
  	    margin: 0;
  	  }
  	}
  }
  .github {
    height: auto;
    width: 15%;
  }
  #bottom {
    @include vendor-prefix(display, flex);
    @include vendor-prefix(flex-direction, column);
    @include vendor-prefix(align-items, flex-end);
    @include vendor-prefix(justify-content, flex-end);
    margin-bottom: 8%;
  }  
  svg {
    display: block;
    margin: 0 auto;
  }
  #footer {
    margin-top: 10%;
    margin: 0 auto;  	
    #contact {
      border-top: solid 1px #842554;
      margin: 0 auto;
   	}
    div {
      padding: 0;
    }
    img {
      display: block;
      margin: 0 auto;
    
    }
  }
};











