@media only screen and (max-width: 1000px) {
  *,
  body {
    position: relative;
    margin: 0;
    padding: 0; }

  body {
    -webkit-display: flex;
    -ms-display: flex;
    -moz-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
    color: #BD84A0; }

  #hero {
    -webkit-display: flex;
    -ms-display: flex;
    -moz-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    -moz-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    background-color: #000000; }
    #hero #name {
      font-family: 'Raleway', sans-serif;
      font-size: 400%;
      margin: 0; }
    #hero #arrow1 {
      margin-top: 25%; }
      #hero #arrow1 img {
        height: 20%;
        width: auto;
        display: block;
        margin: 0 auto; }

  .title {
    font-size: 250%; }

  #columns {
    -webkit-display: flex;
    -ms-display: flex;
    -moz-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -o-justify-content: center;
    justify-content: center; }
    #columns .title {
      margin-top: 0; }
    #columns #aboutMe {
      -webkit-display: flex;
      -ms-display: flex;
      -moz-display: flex;
      -o-display: flex;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      -moz-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: center;
      -ms-justify-content: center;
      -moz-justify-content: center;
      -o-justify-content: center;
      justify-content: center; }
    #columns .section {
      font-size: .8em;
      margin: 0 auto; }

  #javascript .project-img {
    -webkit-display: flex;
    -ms-display: flex;
    -moz-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: space-between;
    -ms-align-items: space-between;
    -moz-align-items: space-between;
    -o-align-items: space-between;
    align-items: space-between;
    margin: 0 auto;
    height: auto;
    width: 100%; }
  #javascript .screenshot {
    height: auto;
    width: 100%;
    margin: 0 auto; }
  #javascript .info {
    display: block;
    font-size: 90%;
    height: auto;
    opacity: 1;
    position: relative;
    text-align: center;
    width: 70%; }
    #javascript .info h3 {
      margin: 0; }

  .github {
    height: auto;
    width: 15%; }

  #bottom {
    -webkit-display: flex;
    -ms-display: flex;
    -moz-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    -moz-align-items: flex-end;
    -o-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
    margin-bottom: 8%; }

  svg {
    display: block;
    margin: 0 auto; }

  #footer {
    margin-top: 10%;
    margin: 0 auto; }
    #footer #contact {
      border-top: solid 1px #842554;
      margin: 0 auto; }
    #footer div {
      padding: 0; }
    #footer img {
      display: block;
      margin: 0 auto; } }

/*# sourceMappingURL=media.css.map */
