@media only screen and (max-width: 1000px) {

 @mixin vendor-prefix($name, $argument) {
   -webkit-#{$name}: #{$argument};
   -ms-#{$name}: #{$argument};
   -moz-#{$name}: #{$argument};
   -o-#{$name}: #{$argument};
   #{$name}: #{$argument};
 }

  *, 
  body {
    position: relative;
    margin: 0;
    padding: 0;

	}

  body {

    @include vendor-prefix(display, flex);
    @include vendor-prefix(flex-direction, column);
    background-color: #F5F3F3;
    background-image: url('/assets/hexagon_bottom.png');  
    background-position:center bottom;
    background-origin: border-box;
    // background-size: cover;
    font-family: 'Roboto', sans-serif;
 };
	
  #hero {
    @include vendor-prefix(display, flex);
    @include vendor-prefix(flex-direction, column);
    @include vendor-prefix(justify-content, space-around);

    background: url('/assets/hex_top.png');
    background-origin: border-box;
    background-size: cover;
    background-position: bottom center;
     

    #name {
      font-family: 'Raleway', sans-serif;
      font-size: 400%;
      margin: 0;
      padding-top: 25%;
		}

    #arrow1 { 
      margin-top: 25%;

      img {
        height: 20%;
        width: auto;
        display: block;
        margin: 0 auto;
			}
		}
	}

  .title {
    font-size: 250%;
	}

  .arrow {
    height: 10%;
    width: auto;
    display: block;
    margin: -15% auto;
  }

  #columns {
    @include vendor-prefix(display, flex);
    @include vendor-prefix(flex-direction, column);
    @include vendor-prefix(justify-content, center);

    .title {
      margin-top: 0;
 	  }

    #aboutMe{
      @include vendor-prefix(display, flex);
      @include vendor-prefix(flex-direction, column);
      @include vendor-prefix(justify-content, center);
 	    
    }

    .section {
      font-size: .8em;
      margin: 0 auto;
	  }
  }

	#javascript {
		.title {
      background-color: purple;
      margin-top: 3% auto;
  	}

		#row1, 
    #row2 {  

      @include vendor-prefix(display, flex);
      @include vendor-prefix(flex-direction, column);
      @include vendor-prefix(align-items, center);

      margin: 0 auto;

	  }

	  .project-img {
      @include vendor-prefix(display, flex);
      @include vendor-prefix(flex-direction, column);
      @include vendor-prefix(align-items, space-between);
      margin: 0 auto;
      height: auto;
      padding-top: 4%;
      width: 100%;   
  	}

    #tictactoe {
      margin-top: -10%;
    }

    .screenshot {
      height: auto; 
      width: 100%;
      margin: 0 auto;
    }

	 	.info {
		  background-color: red;
      display: block;
		  color: #000;
      font-size: 90%;
      height: auto;
		  margin: 0 auto;
      opacity: 1;
      position: relative;
		  text-align: center;
      width: 70%;
		  
      h3 {
		    margin: 0;
		  }
		}
	}


  .github {
    height: auto;
    width: 15%;
  }

  #arrow3, 
  #arrow4, 
  #arrow5,
  #arrow6,
  #arrow7 {
    background-color: blue;
    display: block;
    margin: 20% auto 0;
    
    // margin: 10% auto;
  }

	#arrow8 {
    background-color: blue;
    display: block;
		margin-top: -40%;
	}


  .aster-score { 
    font-size: 60%;
	}

  .score {
    width: 10px;
    height: auto;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
  }

 .d3-tip {
  background: rgba(0, 0, 0, .5);
  border-radius: 2px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  line-height: 1;
  padding: 8px;
  z-index: 99;
  
};

//* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
    box-sizing: border-box;
    color: rgba(0, 0, 0, .5);
    content: '\25BC';
    display: inline;
    font-size: 10px;
    line-height: 1;
    position: absolute;
    text-align: center;
    width: 100%;
	}

	#bottom {
    @include vendor-prefix(display, flex);
    @include vendor-prefix(flex-direction, column);
    // @include vendor-prefix(align-items, center);
    @include vendor-prefix(justify-content, center);

    // margin-top: 40%; 
  }


  #footer {

    @include vendor-prefix(display, flex);
    @include vendor-prefix(flex-direction, row);
    @include vendor-prefix(justify-content, center);

    height: 10%;
    margin-top: 10%;
    // margin: 0 auto;
    background-color: blue;
   	
    #contact {

      @include vendor-prefix(display,flex);
      @include vendor-prefix(flex-direction, row);
      @include vendor-prefix(justify-content, center);

      border-top: solid 1px #fff;
      background-color: purple;
      margin: 0 auto;

   	}

    div {
      background-color: pink;
      padding: 0;
      margin: 0 5%;
    }

    img {
      display: block;
    
  }

  }


};











