@media only screen and (max-width: 1000px) {

 @mixin vendor-prefix($name, $argument) {
   -webkit-#{$name}: #{$argument};
   -ms-#{$name}: #{$argument};
   -moz-#{$name}: #{$argument};
   -o-#{$name}: #{$argument};
   #{$name}: #{$argument};
 }

  *, 
  body {
    position: relative;
    margin: 0;
    padding: 0;

	}

  body {

    // @include vendor-prefix(display, flex);
    // @include vendor-prefix(flex-direction, column);
    // background-color: #F5F3F3;
    // background-image: none;  
    // // background-position: 100% 100%;
    // // background-repeat: no-repeat;
    // // background-size: contain;
    font-family: 'Roboto', sans-serif;
 };
	
  #hero {
    @include vendor-prefix(display, flex);
    @include vendor-prefix(flex-direction, column);
    @include vendor-prefix(justify-content, space-around);

    background: url('/assets/hex_top.png');
    background-origin: border-box;
    background-size: cover;
    background-position: bottom center;
     

    #name {
      font-family: 'Raleway', sans-serif;
      font-size: 400%;
      margin: 0;
      padding-top: 25%;
		}

    #arrow1 { 
      margin-top: 25%;

      img {
        height: 20%;
        width: auto;
        display: block;
        margin: 0 auto;
			}
		}
	}

  .title {
    font-size: 250%;
	}

  #columns {
    @include vendor-prefix(display, flex);
    @include vendor-prefix(flex-direction, column);
    @include vendor-prefix(justify-content, center);

    .title {
      margin-top: 0;
 	  }

    #aboutMe{
      @include vendor-prefix(display, flex);
      @include vendor-prefix(flex-direction, column);
      @include vendor-prefix(justify-content, center);
 	    
    }

    .section {
      font-size: .8em;
      margin: 0 auto;
	  }
  }

	#javascript {
		.title {
      margin-top: 3%;
  	}

		#row1, 
    #row2 {  

      @include vendor-prefix(display, flex);
      @include vendor-prefix(flex-direction, column);
      @include vendor-prefix(align-items, center);

      margin: 0 auto;

	  }

	  .project-img {
      @include vendor-prefix(display, flex);
      @include vendor-prefix(flex-direction, column);
      @include vendor-prefix(align-items, space-around);
      margin: 0 auto;
      height: auto;
      padding-top: 4%;
      width: 100%;   
  	}

    .screenshot {
      height: auto; 
      width: 100%;
      margin: 0 auto;
    }

	 	.info {
		  background-color: transparent;
		  color: #000;
      font-size: 90%;
      height: auto;
		  margin: 0 auto;
      opacity: 1;
      position: relative;
		  text-align: center;
      width: 70%;
		  
      h3 {
		    margin: 0;
		  }
		}
	}


  .github {
    height: auto;
    width: 15%;
  }


	#arrow3, 
  #arrow4, 
  #arrow5,
  #arrow6,
  #arrow7 {
		display: inline;
  }
	
	#arrow6 {
		margin-top: -40%;
	}

  .arrow {
    height: 20%;
    width: auto;
    display: block;
    margin: -15% auto;
  }

  .aster-score { 
    font-size: 50%;
	}

 .d3-tip {
  background: rgba(0, 0, 0, .5);
  border-radius: 2px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: .5em;
  line-height: 1;
  padding: 2px;
  z-index: 99;
  
};

//* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
    box-sizing: border-box;
    color: rgba(0, 0, 0, .5);
    content: '\25BC';
    display: inline;
    font-size: 10px;
    line-height: 1;
    position: absolute;
    text-align: center;
    width: 100%;
	}

	#bottom {
    @include vendor-prefix(display, flex);
    @include vendor-prefix(flex-direction, column);
    @include vendor-prefix(align-items, center);
    @include vendor-prefix(justify-content, center);

    margin-top: 2em; 
  }


  #footer {


    @include vendor-prefix(display, flex);
    @include vendor-prefix(justify-content, center);
    height: 20%;
    margin-top: 20px;
   	
    #contact {

      @include vendor-prefix(display, flex);
      @include vendor-prefix(justify-content, space-around);

      border-top: solid 1px #fff;
      // width: 800px;
   	}
  }

};











