@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}
$white: #fff;
$font-color: #000;
$pink: #BD84A0;
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #000000;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: 'Roboto Slab', serif;
  margin: 0;
  color: $pink;
};
#hero {	
  @include vendor-prefix(display, flex);
  @include vendor-prefix(flex-direction, column);
  @include vendor-prefix(justify-content, space-between);
  @include vendor-prefix(align-items, center);

  background-color: #000000;
    .border-rectangle{
      border: 10px solid $pink;
      margin: 5%;
      @include vendor-prefix(display, flex);
      @include vendor-prefix(flex-direction, column);
      @include vendor-prefix(justify-content, space-around);
    }
    #name {
      font-size: 4rem;
      padding: 0 5%;
      text-align: left; 
  }
  #menu{
    color: $pink;
    text-align: right;
    padding: 0 5%;
    font-size: 2rem;
    @include vendor-prefix(display, flex);
    @include vendor-prefix(flex-direction, column);
    .menu-links{
      text-decoration: none;
      color: $pink;
    }
  }
  #arrow1 {
    margin-bottom: 6em;
    color: $pink;
  }
};
.title {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  text-align: center;
};
#columns {
  @include vendor-prefix(display, flex);
  @include vendor-prefix(flex-direction, column);
  @include vendor-prefix(align-items, center);

  // background-color: #F0F0D4;
  height: auto;

  .title {
    margin-top: 25px;
  }

  #about-me {
    @include vendor-prefix(display, flex);
    @include vendor-prefix(justify-content, center);
    margin-top: 5%;
  }

  .section {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;    	
    height: 100%;
    margin: 0 80px;
    text-align: justify;
    width: 80%;
 		}

  h1, 
  p {
    display: inline;
 	} 
};
#javascript {

  height: auto;

  .title {
    margin-top: .5em ;
  }


  .projects{
    @include vendor-prefix(display, flex);
    @include vendor-prefix(flex-direction, column);
    @include vendor-prefix(justify-content, space-around);
  }
  .project{
    @include vendor-prefix(display, flex);
    @include vendor-prefix(flex-direction, row);
    @include vendor-prefix(justify-content, flex-start);
    @include vendor-prefix(align-items, center);
    margin: 15% 10%;
  }
  .project-img {
    margin: 15px 35px;
    width: 50%;  
  }
  .screenshot{
    width: 90%
  }
  .info{
    width: 50%;
    font-size: 1rem;
    margin: 0 5%;
    @include vendor-prefix(display, flex);
    @include vendor-prefix(flex-direction, column);
    @include vendor-prefix(align-items, center);
    @include vendor-prefix(align-items, center);
    p{
      text-align: center;
    }
  }
  .right{
    text-align: right;
    margin-right: 8%;
  }
  .github{
    height: 50px;
    margin-top: 3%;
  }
};
text {
  font: 5px sans-serif;
}
form {
  position: absolute;
  right: 10px;
  top: 10px;
}
#bottom {   
  margin-top: 50px;
  margin-bottom: 8%;
};
#footer { 
  height: auto;
  margin-bottom: 3%;
  width: 80%;
  margin: auto;

  #footer > a {
    display: none;
  }

 	#contact {		
    @include vendor-prefix(display, flex);
    @include vendor-prefix(flex-direction, row);
    @include vendor-prefix(justify-content, space-between);
    @include vendor-prefix(align-items, center);
    border-top: solid 1px #e6a2c4;
    font-size: 1.3em;
 	}
  div {
    margin-top: 3%;
  }
  a:link {
    color: $pink;
    text-decoration: none;
}
  a:visited {
    color: $pink;
    text-decoration: none;
  }

};



