* {
  margin: 0;
  padding: 0; }

body {
  background-color: #000000;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: 'Roboto Slab', serif;
  margin: 0;
  color: #BD84A0; }

#hero {
  -webkit-display: flex;
  -ms-display: flex;
  -moz-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  align-items: center;
  background-color: #000000; }
  #hero .border-rectangle {
    border: 10px solid #BD84A0;
    margin: 5%;
    -webkit-display: flex;
    -ms-display: flex;
    -moz-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    -moz-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around; }
  #hero #name {
    font-size: 4rem;
    padding: 0 5%;
    text-align: left; }
  #hero #menu {
    color: #BD84A0;
    text-align: right;
    padding: 0 5%;
    font-size: 2rem;
    -webkit-display: flex;
    -ms-display: flex;
    -moz-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column; }
    #hero #menu .menu-links {
      text-decoration: none;
      color: #BD84A0; }
  #hero #arrow1 {
    margin-bottom: 6em;
    color: #BD84A0; }

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  text-align: center; }

#columns {
  -webkit-display: flex;
  -ms-display: flex;
  -moz-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  align-items: center;
  height: auto; }
  #columns .title {
    margin-top: 25px; }
  #columns #about-me {
    -webkit-display: flex;
    -ms-display: flex;
    -moz-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    margin-top: 5%; }
  #columns .section {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    height: 100%;
    margin: 0 80px;
    text-align: justify;
    width: 80%; }
  #columns h1,
  #columns p {
    display: inline; }

#javascript {
  height: auto; }
  #javascript .title {
    margin-top: 0.5em; }
  #javascript .projects {
    -webkit-display: flex;
    -ms-display: flex;
    -moz-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    -moz-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around; }
  #javascript .project {
    -webkit-display: flex;
    -ms-display: flex;
    -moz-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    align-items: center;
    margin: 15% 10%; }
  #javascript .project-img {
    margin: 15px 35px;
    width: 50%; }
  #javascript .screenshot {
    width: 90%; }
  #javascript .info {
    width: 50%;
    font-size: 1rem;
    margin: 0 5%;
    -webkit-display: flex;
    -ms-display: flex;
    -moz-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    align-items: center; }
    #javascript .info p {
      text-align: center; }
  #javascript .right {
    text-align: right;
    margin-right: 8%; }
  #javascript .github {
    height: 50px;
    margin-top: 3%; }

text {
  font: 5px sans-serif; }

form {
  position: absolute;
  right: 10px;
  top: 10px; }

#bottom {
  margin-top: 50px;
  margin-bottom: 8%; }

#footer {
  height: auto;
  margin-bottom: 3%;
  width: 80%;
  margin: auto; }
  #footer #footer > a {
    display: none; }
  #footer #contact {
    -webkit-display: flex;
    -ms-display: flex;
    -moz-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    align-items: center;
    border-top: solid 1px #e6a2c4;
    font-size: 1.3em; }
  #footer div {
    margin-top: 3%; }
  #footer a:link {
    color: #BD84A0;
    text-decoration: none; }
  #footer a:visited {
    color: #BD84A0;
    text-decoration: none; }

/*# sourceMappingURL=style.css.map */
